<?xml version="1.0"?>
<config>
    <modules>
        <Hirale_GAMeasurementProtocol>
            <version>0.1.0</version>
        </Hirale_GAMeasurementProtocol>
    </modules>
    <global>
        <helpers>
            <gameasurementprotocol>
                <class>Hirale_GAMeasurementProtocol_Helper</class>
            </gameasurementprotocol>
        </helpers>
        <models>
            <gameasurementprotocol>
                <class>Hirale_GAMeasurementProtocol_Model</class>
            </gameasurementprotocol>
        </models>
    </global>
    <frontend>
        <events>
            <controller_front_send_response_after>
                <observers>
                    <gameasurementprotocol_controller_front_send_response_after>
                        <type>singleton</type>
                        <class>gameasurementprotocol/observer</class>
                        <method>generateClientId</method>
                    </gameasurementprotocol_controller_front_send_response_after>
                </observers>
            </controller_front_send_response_after>
            <sales_quote_item_save_after>
                <observers>
                    <gameasurementprotocol_sales_quote_item_save_after>
                        <type>singleton</type>
                        <class>gameasurementprotocol/observer</class>
                        <method>addOrRemoveItemsFromCart</method>
                    </gameasurementprotocol_sales_quote_item_save_after>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_item_delete_after>
                <observers>
                    <gameasurementprotocol_sales_quote_item_delete_after>
                        <class>gameasurementprotocol/observer</class>
                        <method>addOrRemoveItemsFromCart</method>
                    </gameasurementprotocol_sales_quote_item_delete_after>
                </observers>
            </sales_quote_item_delete_after>
            <wishlist_product_add_after>
                <observers>
                    <gameasurementprotocol_wishlist_product_add_after>
                        <type>singleton</type>
                        <class>gameasurementprotocol/observer</class>
                        <method>addToWishlist</method>
                    </gameasurementprotocol_wishlist_product_add_after>
                </observers>
            </wishlist_product_add_after>
            <customer_register_success>
                <observers>
                    <metaconversions_customer_register_success>
                        <type>singleton</type>
                        <class>gameasurementprotocol/observer</class>
                        <method>signUp</method>
                    </metaconversions_customer_register_success>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <metaconversions_customer_login>
                        <type>singleton</type>
                        <class>gameasurementprotocol/observer</class>
                        <method>login</method>
                    </metaconversions_customer_login>
                </observers>
            </customer_login>
            <core_app_run_after>
                <observers>
                    <gameasurementprotocol_core_app_run_after>
                        <type>singleton</type>
                        <class>Hirale_GAMeasurementProtocol_Model_Observer</class>
                        <method>dispatchRouteEvent</method>
                    </gameasurementprotocol_core_app_run_after>
                </observers>
            </core_app_run_after>
        </events>
    </frontend>
</config>